<div class="Editor-target" data-js-ui-target>
  <div class="Editor-targetBox" data-js-ui-targetbox>
    <span class="Editor-targetIcon typcn typcn-upload"></span>
    <p class="Editor-targetText">Drop a file or click to upload.</p>
  </div>
</div>
<canvas class="Editor-canvas" data-js-ui-canvas></canvas>
