<div class="Workflow-body">
  <main class="Workflow-main" data-js-region-workspace></main>
  <aside class="Workflow-aside Workflow-aside--left" data-js-region-sidebar-left></aside>
  <aside class="Workflow-aside" data-js-region-sidebar-right></aside>
</div>
