<div class="Workflow-body">
  <main class="Workflow-main" data-js-region-editor></main>
  <aside class="Workflow-aside Workflow-aside--left" data-js-region-settings></aside>
  <aside class="Workflow-aside" data-js-region-help></aside>
</div>
