.Editor {
  display: flex;
  min-height: 100vh;
}

.Editor-target {
  align-items: center;
  background: var(--color-vlgray);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.Editor-target--dragover {
  background: #efefef;
}

.Editor-targetBox {
  border: 3px dotted;
  border-color: var(--color-lgray);
  color: var(--color-lgray);
  max-width: 60%;
  padding: var(--lg-space);
  text-align: center;
};

.Editor-targetBox--dragover {
  border-color: var(--color-gray);
  color: var(--color-gray);
}

.Editor-targetIcon {
  font: var(--font-header1);
}

.Editor-targetText {
  font: var(--font-header3);
}

.Editor-canvas {
  display: none;
}

.Editor-canvas--active {
  display: block;
}
