<div class="Application-body">
  <main class="Application-main" data-js-region-editor></main>
  <aside class="Application-aside Application-aside--left" data-js-region-settings></aside>
  <aside class="Application-aside" data-js-region-help></aside>
</div>
